<div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
	<a href="/dashboard" style="color: white;font-weight: bold;width: 100%;text-align: center; font-size: 17px">
		Manisa<br>BüyükşehirBelediyesi
	</a>
	<div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
		<%- theme.getIcon("black-left-line", "fs-2 rotate-180") %>
	</div>
</div>
