<div class="modal fade" id="passwordChangeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mw-650px">
        <div class="modal-content rounded">
            <div class="modal-header justify-content-end border-0 pb-0">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <%- theme.getIcon("cross", "fs-1") %>
                </div>
            </div>
            <form class="form w-100" novalidate="novalidate" id="passwordChangeForm">
                <div class="modal-body p-4">
                    <div class="row">
                        <div class="fv-row col-md-6 mb-3">
                            <div class="form-floating" data-kt-password-meter="true">
                                <div class="position-relative mb-3">
                                    <input class="form-control" type="password" placeholder="Åifre" name="password" autocomplete="off" />
                                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                            <i class="ki-duotone ki-eye-slash fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                            <i class="ki-duotone ki-eye d-none fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="fv-row col-md-6 mb-3">
                            <div class="form-floating" data-kt-password-meter="true">
                                <div class="position-relative mb-3">
                                    <input class="form-control" type="password" placeholder="Åifre Tekrar" name="passwordConfirmation" autocomplete="off" />
                                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                            <i class="ki-duotone ki-eye-slash fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                            <i class="ki-duotone ki-eye d-none fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 p-3">
                    <div class="d-flex flex-end flex-row-fluid">
                        <button type="reset" class="btn btn-sm btn-light me-3" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="passwordChangeFormSubmit">
                            Kaydet
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
