<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-md-5 mb-xl-10">
        <div class="card card-flush">
            <div class="card-header pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-900">Kullanıcılar</span>
                </h3>
                <div class="card-toolbar">
                    <button class="btn btn-sm fw-bold btn-primary" id="createUser">Kullanıcı Ekle</button>
                </div>
            </div>
            <div class="card-body pt-6">
                <table id="datatable_users" class="table align-middle table-row-dashed fs-6 gy-5">
                    <thead>
                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                            <th>ID</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Eposta</th>
                            <th class="w-250px">Son Giriş</th>
                            <th class="w-100px">Rol</th>
                            <th class="text-end w-100px">Durum</th>
                            <th class="text-end w-100px">#</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-semibold">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>